:root{
  --color1: #F7F7F7;
  --color2: #6C41D7;
  --color2-hover: #805BDC;
  --color3: #EDEDED;
  --danger: #F26722;
  --warning: #F2B822;
  --success: #1ED699;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body{
  background: var(--color1);
}

.txt-color2{
  color: var(--color2);
}
.bg-color2{
  color: var(--color2);
}

.btn{
  border-radius: 0;
  border: none;
  padding: 10px;
}

.btn-primary{
  background: var(--color2);
  color: #fff
}

.btn-primary:hover{
  background: var(--color2-hover);
}

.login{
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
}

.logo img{
  width: 60%;
}

.login .form-control{
  border-radius: 0; 
}

.login .was-validated .form-control:invalid{
  border-color: var(--danger);
}
.login .was-validated .form-control:valid{
  border-color: var(--success);
}
.login .tips small{
  display: block;
  color: #828282;
}
.login .tips small:before{
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  top: 5px;
  margin: 7px 5px;
  display: inline-block;
  background: var(--color3);
}

.login .stillweakpass span:first-child{
  background: var(--danger);
}

.login .goodpass span:nth-child(2),
.login .goodpass span:nth-child(1){
  background: var(--warning);
}
.stillweakpass::before{
  background: var(--danger) !important;
}
.goodpass::before{
  background: var(--warning) !important;
}

.vrystrongpass::before{
  background: var(--success) !important;
}

.login .vrystrongpass span:last-child,
.vrystrongpass span:nth-child(2),
.vrystrongpass span:first-child{
  background: var(--success);
}

.form-control.weakpass{
  border-color: var(--danger); 
}

.border-stillweakpass{
  border-color: var(--danger) !important;
}

.border-goodpass{
  border-color: var(--warning) !important;
}

.border-vrystrongpass{
  border-color: var(--success) !important;
}

.form-control.goodpass{
  border-color: var(--success); 
}

.login  span{
  display: inline-block;
  background: var(--color3);
  width: 32%;
  height: 7px;
  transition: all .3s;
}
